/* Write your CSS here */

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  background-color: #07080c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.heading {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #ffffff;
  margin: 20px;
}

.img {
  height: 150px;
  width: 800px;
}

.counter-heading {
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #ffffff;
  margin: 20px;
}

.counter-paragraph {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 300;
  color: #cbd5e1;
  margin: 20px;
}

.btn-1 {
  background-color: #0b69ff;
  color: #ffffff;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.btn-2 {
  background-color: #07080c;
  color: #94a3b8;
  border: solid 2px;
  border-radius: 5px;
  border-color: #94a3b8;
  padding: 10px;
  margin: 10px;
}
